.loading {
    opacity: 0;
}

.loaded {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

* {
    font-size: 0.8vw;
    box-sizing: border-box;
    font-family: "Signika Negative", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

sup {
    font-size: 0.5vw;
}

b {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: "bold";
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

h4 {
    font-size: 1.25vw;
}

h5 {
    font-size: 1vw;
}

.heading {
    font-family: "Germania One", "system-ui";
}

.text-entry-line input {
    font-family: "Playpen Sans", "cursive";
}
